:root {
  /* Font Families */
  --ff-header: "Outfit", sans-serif;

  /* Colors */
  --clr-body: hsl(212, 45%, 89%);
  --clr-main-qr-card: hsl(0, 0%, 100%);
  --clr-content: hsl(220, 15%, 55%);
  --clr-link: hsl(218, 44%, 22%);
}

* {
  font-family: var(--ff-header);
}

body {
  background-color: var(--clr-body);
}

* {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  background-color: var(--clr-main-qr-card);
  width: 19%;
  padding: 16px 0px;
  border-radius: 25px;

  /* Position */
  margin: 4rem auto;
}

.title-bold {
  width: 90%;
  margin: 0px auto 0px auto;
  font-weight: 700;
  font-size: clamp(1rem, 10vw, 1.55rem);
}

.title-bold p {
  margin: 14px auto;
}

.content {
  margin: 20px auto;
  width: 80%;

  /* Text Settings */
  font-weight: 400;
  font-size: 1em;
  color: var(--clr-content);
}
.attribution {
  font-size: 0.8em;
  margin: 0 auto;
  width: 55%;
}

.attribution a {
  color: var(--clr-link);
}

/* Image */
.qr-image img {
  border-radius: 13px;
  width: 92%;
  margin: 0 0;
}

@media (width >= 35em) and (width < 50em) {
  main {
    width: 50%;
  }

  .title-bold {
    margin: 0px auto;
    width: 88%;
    font-size: 1.5rem;
  }

  .title-bold p {
    margin: 8px auto 13px auto;
  }

  .content {
    width: 85%;
    margin: 10px auto 11px auto;
  }

  .attribution {
    width: 60%;
  }
}

@media (width >= 50em) and (width <= 90em) {
  main {
    width: 30%;
  }
}
